<?xml version="1.0" encoding = "UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dudu.soa.weixindubbo.electroniccoupon.mapper.ElectronicCouponMapper">

    <!--添加电子优惠券-->
    <insert id="addCouponCode" parameterType="com.dudu.soa.weixindubbo.electroniccoupon.module.ElectronicCoupon"
            useGeneratedKeys="true" keyProperty="couponId" flushCache="true">
        INSERT INTO CouponService (
        couponid,
        openId,
        belongedOpenId,
        couponCode,
        couponStartTime,
        couponEndTime,
        couponState,
        lingquTime,
        shopCode,
        custId,
        couponFlag,
        shopCodeLM
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.couponId},
            #{item.openId},
            #{item.belongedOpenId},
            #{item.couponCode},
            #{item.couponStartTime},
            #{item.couponEndTime},
            #{item.couponState},
            #{item.lingquTime},
            #{item.shopCode},
            #{item.custId},
            #{item.couponFlag},
            #{item.shopCodeLM}
            )
        </foreach>
    </insert>

    <!--查询当天店铺所有产生的couponCode-->
    <select id="getCouponCountInshopOneDay"
            parameterType="com.dudu.soa.weixindubbo.electroniccoupon.module.ElectronicCouponParam" resultType="Integer">
        SELECT
            COUNT (1)
        FROM
            CouponService
        WHERE
            shopCode = #{shopCode}
        AND CONVERT (VARCHAR(10), lingquTime, 120) LIKE '%' + #{lingquTime} + '%'
    </select>

    <!--微信客户优惠券统计-->
    <select id="getWeiXinConponCount"
            parameterType="com.dudu.soa.weixindubbo.electroniccoupon.module.ElectronicCouponParam"
            resultType="Integer">
        SELECT
        COUNT(1)
        FROM
        CouponService
        WHERE
        openId = #{openId}
        and couponFlag =#{couponFlag}
        AND shopCode = #{shopCode}
        <if test="null != couponId and '' != couponId">
            AND couponId = #{couponId}
        </if>
    </select>

    <!--微信端查询优惠券列表-->
    <select id="queryWXElectronicCouponInfo"
            parameterType="com.dudu.soa.weixindubbo.electroniccoupon.module.ElectronicCouponParam"
            resultType="com.dudu.soa.weixindubbo.electroniccoupon.module.ElectronicCoupon">
        SELECT
        id,
        couponid,
        openId,
        belongedOpenId,
        couponCode,
        couponStartTime,
        couponEndTime,
        couponState,
        lingquTime,
        shopCode,
        couponFlag,
        custId,
        shopCodeLM
        FROM
        CouponService
        WHERE
        openId = #{openId}
        AND shopCode = #{shopCode}
        <if test="null != couponId">
            AND couponId= #{couponId}
        </if>
        <if test="null != couponFlag">
            AND couponFlag = #{couponFlag}
        </if>
    </select>

    <!--微信优惠券详情页面-->
    <select id="getWXElectronicCouponInfo"
            parameterType="com.dudu.soa.weixindubbo.electroniccoupon.module.ElectronicCouponParam"
            resultType="com.dudu.soa.weixindubbo.electroniccoupon.module.WeiXinCouponInfo">
        SELECT
            TOP 1 *
        FROM
            (
                SELECT
                    cs.openId openId,
                    cs.belongedOpenId belongedOpenId,
                    cs.couponState couponState,
                    cs.shopCode shopCode,
                    cs.couponFlag couponFlag,
                    cs.couponStartTime couponStartTime,
                    cs.couponEndTime couponEndTime,
                    cs.couponCode couponCode,
                    ec.couponName couponName,
                    ec.diXiaoJinE diXiaoJinE,
                    ec.anotherJinE anotherJinE,
                    ec.details details
                FROM
                    CouponService cs
                LEFT JOIN Data_ElectronicCoupon ec ON cs.couponid = ec.couponid
                WHERE
                    openId = #{openId}
                AND cs.shopCode = #{shopCode}
                AND cs.couponId = #{couponId}
                AND cs.couponFlag = #{couponFlag}
            ) t
    </select>

    <select id="queryReceiveRecords"
            parameterType="com.dudu.soa.weixindubbo.electroniccoupon.module.ElectronicCouponParam"
            resultType="com.dudu.soa.weixindubbo.electroniccoupon.module.ReceiveRecords">
        SELECT
            cs.openId,
            cs.lingquTime,
            cs.shopCode,
            cs.belongedOpenId,
            cs.couponCode,
            ec.couponName,
            ec.diXiaoJinE,
            ec.anotherJinE
        FROM
            CouponService cs
        LEFT JOIN Data_ElectronicCoupon ec ON cs.couponid = ec.couponid
        WHERE
            cs.belongedOpenId = #{openId}
        AND cs.couponState = 2
        AND cs.belongedOpenId != cs.openId
    </select>
</mapper>
