<?xml version="1.0" encoding = "UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dudu.soa.weixindubbo.electroniccoupon.mapper.ElectronicCouponMapper">

    <!--添加电子优惠券-->
    <insert id="addCouponCode" parameterType="com.dudu.soa.weixindubbo.electroniccoupon.module.ElectronicCoupon"
            useGeneratedKeys="true" keyProperty="couponId" flushCache="true">
        INSERT INTO CouponService (
            couponid,
            openId,
            belongedOpenId,
            couponCode,
            couponStartTime,
            couponEndTime,
            couponState,
            lingquTime,
            shopCode,
            custId,
            couponFlag,
            shopCodeLM
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
        (
                #{item.couponId},
                #{item.openId},
                #{item.belongedOpenId},
                #{item.couponCode},
                #{item.couponStartTime},
                #{item.couponEndTime},
                #{item.couponState},
                #{item.lingquTime},
                #{item.shopCode},
                #{item.custId},
                #{item.couponFlag},
                #{item.shopCodeLM}
            )
        </foreach>
    </insert>

    <select id="getCouponCountInshopOneDay" parameterType="com.dudu.soa.weixindubbo.electroniccoupon.module.ElectronicCouponParam" resultType="Integer">
        SELECT
            COUNT (1)
        FROM
            CouponService
        WHERE
            shopCode = #{shopCode}
        AND CONVERT (VARCHAR(10), lingquTime, 120) LIKE '%' + #{lingquTime} + '%'
    </select>

</mapper>
